
<div class="side-bar-header">
  <div class="user-name">
    <%= link_to current_user.name, edit_user_path(current_user)%>
  </div>
  <div class="create-room">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="rooms">
  <ul class="room-list">
    <li class="room-item">
      <a href="">dev_room</a>
    </li>
    <li class="room-item">
      <a href="">dev_room</a>
    </li>
    <li class="room-item">
      <a href="">dev_room</a>
    </li>
     <li class="room-item">
      <a href="">dev_room</a>
    </li>
     <li class="room-item">
      <a href="">dev_room</a>
    </li>
     <li class="room-item">
      <a href="">dev_room</a>
    </li>
     <li class="room-item">
      <a href="">dev_room</a>
    </li>
     <li class="room-item">
      <a href="">dev_room</a>
    </li>
     <li class="room-item">
      <a href="">dev_room</a>
    </li>
     <li class="room-item">
      <a href="">dev_room</a>
    </li>
     <li class="room-item">
      <a href="">dev_room</a>
    </li>
     <li class="room-item">
      <a href="">dev_room</a>
    </li>
         <li class="room-item">
      <a href="">dev_room</a>
    </li>
         <li class="room-item">
      <a href="">dev_room</a>
    </li>
         <li class="room-item">
      <a href="">dev_room</a>
    </li>
  </ul>
</div>
